<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create new tech-blog:</h3>

    <form class="form tech-blog-form">
      <div class="form-group">
        <label for="tech-blog-name">project name:</label>
        <input class="form-input" type="text" id="tech-blog-name" name="tech-blog-name" />
      </div>
      
      <div class="form-group">
        <label for="tech-blog-desc">description:</label>
        <textarea class="form-input" id="tech-blog-desc" name="tech-blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if tech-blogs.length}}
  <div class="col-md-6 tech-blog-list">
    <h3>Current tech-blogs:</h3>

    {{#each tech-blogs as |tech-blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tech-blog/{{tech-blog.id}}">{{tech-blog.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{tech-blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
